
<div class="container">
	<h2>Contact us</h2>
	<p>Curious about knowing how we get the data for you, How we serve
		our consumer? Then why only be curious and think yourself...Ask us.
		Contact us and explore various facets of your favorite web page.</p>
	<br>
	<p>
		Feedback: <a id="contact-links"
			href="mailto:pankajtripathi.k@gmail.com">feedback@movietime.com</a><br>
		Careers: <a id="contact-links"
			href="mailto:pankajtripathi.k@gmail.com">jobs@movietime.com</a><br>
		Developer: <a id="contact-links"
			href="mailto:pankajtripathi.k@gmail.com">developer@movietime.com</a><br>
	</p>
	<br> <br> <br>
</div>

<a id="google-map"
	href="https://www.google.com/maps/place/Northeastern+University/@42.339807,-71.089172,17z/data=!3m1!4b1!4m2!3m1!1s0x0000000000000000:0xc97b00e66522b98c"
	target="_blank">
	<section class="map-image">
		<!-- map -->
	</section>
</a>

<br />
<br />

