
<!-- Full Width Image Header -->
<header class="header-image">
</header>
<hr class="featurette-divider">

<!-- Page Content -->
<div class="container">
	<!-- First Featurette -->
	<div class="featurette" id="about">
		<img class="featurette-image img-circle img-responsive pull-right"
			src="../../res/movie-search.jpg">
		<h2 class="featurette-heading">Search Movies</h2>
		<p class="lead">Hey...do you remember that movie...having problem
			in recollecting the movie watched...but I remember some details of it.
			No issues search the movie, get the details of the movie..and if you
			love that movie watch it again...We know that what if feels to be a
			movie crazy guy.</p>
	</div>

	<hr class="featurette-divider">

	<!-- Second Featurette -->
	<div class="featurette" id="about">
		<img class="featurette-image img-circle img-responsive pull-right"
			src="../../res/in-theater.jpg">
		<h2 class="featurette-heading">In Theaters</h2>
		<p class="lead">I love movies and I will definitely will go and
			catch something new this week....but which movie should I watch which
			genre should I go for. Check put the movie currently been shown in
			the theaters and check the details of the movie you would love to
			watch. Zero in on one movie, dress up get ready, get tickets grab a
			pop corn and coke and enjoy.</p>
	</div>

	<hr class="featurette-divider">

	<!-- Third Featurette -->
	<div class="featurette" id="about">
		<img class="featurette-image img-circle img-responsive pull-right"
			src="../../res/movie-review.jpg">
		<h2 class="featurette-heading">Movie Review</h2>
		<p class="lead">Check the latest movie review. Get the latest
			reviews from your favorite critic. The movie review obtained from
			rotten tomatoes includes critics score and audience score. A movie
			with score better than 60% can be considered as good movie. Though we
			believe in personal choice...enjoy the movie you love.</p>
	</div>
	
	<hr class="featurette-divider">
	
		<!-- Fourth Featurette -->
	<div class="featurette" id="about">
		<img class="featurette-image img-circle img-responsive pull-right"
			src="../../res/watchlist.jpg">
		<h2 class="featurette-heading">Movie Watchlist</h2>
		<p class="lead">There are some movies that we wish to see sometime. We all have that 
		favorite movie that we missed or actor. director whose movie we wish to watch sometime.
		So create a list of movies that you wish to watch sometime and when you are done with seeing that movie remove them from
		the list. So login, search and create a list of movies you would love to watch</p>
	</div>

	<hr class="featurette-divider">

</div>


