<link href="../css/movieDetail.css" rel="stylesheet" >
<div class="container">
	<h2>Movie Review</h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="stays">Critic</th>
				<th class="stays">Date</th>
				<th class="goes">Publication</th>
				<th class="stays">Review</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="r in movie.reviews">
				<td class="stays">{{r.critic}}</td>
				<td class="stays">{{r.date}}</td>
				<td class="goes">{{r.publication}}</td>
				<td class="stays">{{r.quote}} <a id="review-a" href="{{r.links.review}}">Read full review</a></td>
			</tr>
		</tbody>
	</table>
	
	<br><br>
	<h3 ng-show="comm">Comments</h3>
	<table class="table" ng-show="comments">
		<tbody>
			<tr ng-repeat="c in comments">
			<td>{{c.comment}} - {{c.username}}</td>
			<td>
			<button  ng-show="del" ng-click="removeComment(c)" class="btn btn-danger">
                      <span class="glyphicon glyphicon-remove"></span>
            </button>
			</td>
			</tr>
		</tbody>
	</table>
	
	<div class="row">
	<div class=col-5>
	<textarea id="ta" ng-show="comm" ng-model="comment"></textarea>
	</div>
	<div class="col-3">
	<button class="btn btn-primary" onclick="cleararea()" ng-show="comm" ng-click="addComment(comment)">ADD COMMENT</button>
	</div>
	
	</div>
</div>